compiler/src/main/resources/com/srilakshmikanthanp/resources/parser/xml/resourse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:simpleType name="resourceFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="BYTES"/>
      <xs:enumeration value="STREAM"/>
    </xs:restriction>
  </xs:simpleType>

	<xs:group name="inlineOrFile">
		<xs:choice>
      <xs:element name="inline">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string" />
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
			<xs:element name="file">
				<xs:complexType>
					<xs:attribute name="path" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="resource" maxOccurs="unbounded">
          <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="1">
              <xs:group ref="inlineOrFile"/>
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="type" type="resourceFieldType" use="optional"/>
          </xs:complexType>
        </xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
